doctype html
html(lang='de')
    head
        title= "Darth Trader"
        meta(charset="UTF-8")
        script(src='/jQuery.js')
        script(src='/drater.js?v=1')
        link(rel='stylesheet', type="text/css", href="/bootstrap.css")
        link(rel='stylesheet', type="text/css", href="/font.css")
        link(rel='stylesheet', type="text/css", href="/drater.css")
    body(class="p-2 p-lg-4")
        h1= "Darth Trader"
        p(class="pb-4")= "© ACAB - anti `capitalism asshole badgers`, corp."
        table(class="table p-4")
            tr
                th(scope="row", style="width: 160px")= "start balance"
                td(id="td-start-balance", style="width: 140px", class="text-right")
                td= "$"
            tr
                th(scope="row")= "actual balance"
                td(id="td-balance", class="text-right")
                td= "$"
            tr
                th(scope="row")= "+ open"
                td(id="td-value", class="text-right")
                td= "$"
            tr
                th(scope="row")= "= summary"
                td(id="td-summary", class="text-right")
                td= "$"
            tr
                th(scope="row")= "= change"
                td(id="td-change", class="text-right")
                td= "%"
        h4(class="pt-4")= "Order List"
        table(id="tbl-orders", class="table")
            thead
                tr
                    th(scope="column")= "time"
                    th(scope="column", class="text-right")= "price"
                    th(scope="column", class="text-right")= "amount"
                    th(scope="column", class="text-right")= "open"
                    th(scope="column", class="text-right")= "value"
                    th(scope="column", class="text-right")= "change"
            tbody