doctype html
html(lang='de')
    head
        title= "drater"
        meta(charset="UTF-8")
        script(src='/jQuery.js')
        script(src='/drater.js')
        link(rel='stylesheet', type="text/css", href="/bootstrap.css")
    body(class="p-4")
        h1= "Drater"
        div(class="p-4")
            div(id="div-open")
            div(id="div-value")
        table(id="tbl-orders", class="table")
            thead
                tr
                    th(scope="column")= "time"
                    th(scope="column", class="text-right")= "open"
                    th(scope="column", class="text-right")= "value"
                    th(scope="column", class="text-right")= "change"
                    th(scope="column")= "closed"
            tbody